<h2>Edit your employee</h2>
<p>
    <form action="/auth/{{_id}}/edit" method="post">
        Name: <input type="text" name="username" value="{{username}}"><br>
        <br> role: <input type="text" name="role" value="{{role}}"><br>
        <button>Submit</button>
    </form>
</p>